
body{
    background-color: #5084d7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    
}

h1{
    z-index: 2;
}
#box{
    width: 90%;
    border-radius: 50px;
    background: linear-gradient(315deg, #4877c2, #568de6);
    box-shadow:  -27px -27px 55px #4470b7, 27px 27px 55px #5c98f7;
    padding: 5% 0%;
    margin: 0;
    /*
     display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
    */
}

#dados-cidade{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#section-estado{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#temp-exata{
    font-size: 2.5rem;
}
#img-main{
    width: 30%;
    margin: 3%;
}

#section-estado img{
    width: 100%;
}

#temperatura{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5%;
}
#acessorio{
    display: flex;
}
.acessorios{
    width: 3rem;
    align-self: flex-end;
}

@media only screen and  (min-width: 730px){
    #box{        
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        font-size: 2rem;
    }
    
    #dados-cidade, #section-estado, #temperatura{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    #section-estado{
        width: 33%;
    }
}